<div id="slideshow" class="cycle-slideshow" data-cycle-speed="2000" data-cycle-timeout="6000" data-cycle-loader=true data-cycle-progressive="#images">
        <img class="img-responsive" src="//cdn.schlederer.com.au/img/1.jpg" alt="Tax2" height="450" width="1280" class="first">
        <script id="images" type="text/cycle">
            <img class="img-responsive" src="//cdn.schlederer.com.au/img/2.jpg" alt="Tax2" height="450" width="1280">
            <img class="img-responsive" src="//cdn.schlederer.com.au/img/3.jpg" alt="Tax2" height="450" width="1280">
        </script>
</div>
