<footer>
  <hr>
  <div class="container">
    <div class="social pull-right">
      <ul class="list-inline social-buttons">
        <li class="linkedin-btn"><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script type="IN/Share"></script></li>
        <li class="tweet-btn"><a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-url="{{ site.page}}" data-via="MichaelSchled">Tweet</a></li>
      </ul>
    </div>
    <div class="contact">
      <p>Contact</p>
      <p class="lead"><i class="fa fa-phone"></i>&nbsp;{{site.biz_phone}}</p>
      <p class="lead"><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:{{site.biz_email}}">{{site.biz_email}}</a></p>
    </div>
    <p class="small"><a href="mailto:{{site.biz_email}}">contact</a> | <a href="/legal/">legal</a> &copy;&nbsp;{{ site.biz_name }}</p>
  </div>
</footer>
