---
layout: default

title: "Insights"
subtitle: "Problems solved."
lead:
---

<div class="row">
  <div class="col-md-9">
    {% for post in paginator.posts %}
    <article class="mb-3 pb-2 border-bottom border-dark">
      <svg class="icon float-start me-2" width="2em" height="2em" fill="var(--bs-info)" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <path id="fa-bullhorn" d="M1664 640q53 0 90.5 37.5t37.5 90.5-37.5 90.5-90.5 37.5v384q0 52-38 90t-90 38q-417-347-812-380-58 19-91 66t-31 100.5 40 92.5q-20 33-23 65.5t6 58 33.5 55 48 50 61.5 50.5q-29 58-111.5 83t-168.5 11.5-132-55.5q-7-23-29.5-87.5t-32-94.5-23-89-15-101 3.5-98.5 22-110.5h-122q-66 0-113-47t-47-113v-192q0-66 47-113t113-47h480q435 0 896-384 52 0 90 38t38 90v384zm-128 604v-954q-394 302-768 343v270q377 42 768 341z" />
      </svg>
      <h2 class="post-title"><a href="{{ post.url }}" class="text-reset text-decoration-none">{{ post.title }}</a></h2>
      {% if post.subtitle %}<p class="lead">{{ post.subtitle }}</p>{% endif %}
      <p class="post-meta small">~ {{post.date | date_to_string}}</p>
      {{ post.content }}
    </article>
    {% endfor %}
    <ul id="pager" class="nav justify-content-between">
      <li class="nav-item">
        {% if paginator.previous_page %}
        <a class="nav-link" href="/insights/{% if paginator.page <> 2 %}{{paginator.previous_page}}{% endif %}">&laquo; Previous</a>
        {% else %}
        <span class="nav-link disabled">&laquo; Previous</span>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if paginator.next_page %}
        <a class="nav-link" href="/insights/{{paginator.next_page}}">Next &raquo;</a>
        {% else %}
        <span class="nav-link disabled">Next &raquo;</span>
        {% endif %}
      </li>
    </ul>
  </div>
  <aside class="col-sm-3">
    {% include contact.html %}
  </aside>
</div>
