---
layout: default
published: true

title: "Blog"
subtitle: "Problems solved."
lead:
---

<div class="row">
  <div class="col-md-8 blog-main">
    {% for post in paginator.posts %}
    <h2 class="post-title"><i class="fa fa-bullhorn text-info"></i> <a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.subtitle %}<p class="lead">{{ post.subtitle }}</p>{% endif %}
    <p class="post-meta small">~{{post.date | date_to_string}}</p>
    {{ post.content }}
    <hr>
    {% endfor %}
    <nav>
      <ul class="pager">
        <li class="previous">
          {% if paginator.previous_page %}<a href="/blog/{{paginator.previous_page}}" aria-label="Previous">{% endif %}
            <span aria-hidden="true">&laquo; Previous</span>
            {% if paginator.previous_page %}</a>{% endif %}
        </li>
        <li class="next">
          {% if paginator.next_page %}<a href="/blog/{{paginator.next_page}}" aria-label="Next">{% endif %}
            <span aria-hidden="true">Next &raquo;</span>
            {% if paginator.next_page %}</a>{% endif %}
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    {% include contact.html %}
  </div>
</div>
