<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{site.description}}">
<meta name="publisher" content="{{site.publisher}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/css/superhero.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css">
<title>
	{{site.title}}
</title>
<style>
.navbar-brand {font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-weight: 400;}
.navbar-icon { display: inline-block !important; height: 1em;}
#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
</style>
</head>

<body>

{% include navbar.html %}

{% include header.html %}

<div id="content" class="container">

{{ content }}

</div> <!-- End of content -->

{% include footer.html %}

{% include tracker.html %}

</body>
</html>
